body {
    margin: 0;
    background-color: #679f51;
    color: #f3fccd;
}
h1 {
    color: #f3fccd;
    margin: 0;
    font-size: 100px;
    margin: 0;
    font-family: Merienda One;
    text-align: center;
}
p {
    font-family: "PT serif";
    margin: 3rem 0;
}
strong {
    font-size: 2rem;
}
div {
    margin: 0;
}

.white {
    color: rgb(255, 255, 255);
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}