@import '_constants.scss';

.titleSlide {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.title {
    color: white;
    text-align: center;
}
.subTitle {
    font-family: Merienda One;
    text-align: center;
    font-size: 30px;
    color: white; 
    margin: 0;
}
.content {
    max-width: 800px;
    margin: 5rem auto;
}

.gallery {
    padding: 2rem;
    background-color: $yellow;
    h1 {
        margin: 2rem;
        color: $green;
    }
    
    .thumb {
        width: 40%;
        margin: 1rem;
        min-width: 200px;
    }
    .images {
        margin: 0 auto;
        max-width: 1424px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contacts {
    width: 100%;
    padding: 2rem;
}
.contactBody {
    margin: 0 auto;
    width: min-content;

    p {
        margin: 0; 
    }
}
.contactDetails {
    display: flex;
    flex-direction: column;
    a {
        margin: 0.5rem 0;
        color: $yellow;
    }
}
